.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 60px;
  float: right;
}

.App-header {
  background-color: #5af;
  height: fix;
  padding: 10px;
  color: black;
}

.App-title-box {
  height: 60px;
}

.App-title {
  font-size: 2em;
  line-height: 60px;
  vertical-align: middle;
  font-family: "BNarm";
}

.App-intro {
  font-size: large;
}

.bgblack {
  background-color: pink;
}

.Lessons-table {
  text-align: right;
  color: inherit;
}

.Lesson-text {
  text-align: justify;
  font-family: "BMitra";
  font-size: 1.4em;
}

.Page-title {
  text-align: right;
  font-size: 20px;
  padding: 10px;
}

.List-item-button {
  width: 100%;
  height: 100%;
  border: 0px;
  text-align: inherit;
  text-decoration: none;
  color: inherit;
  background-color: inherit;

  &:focus, &:hover, &:visited, &:link, &:active {
      text-decoration: none;
      color: inherit;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(180deg); }
}

@font-face {
  font-family: "BNarm";
  src: url("static/fonts/BNarm.ttf");
}

@font-face {
  font-family: "BMitra";
  src: url("static/fonts/BMitra.ttf");
}
